:root {
  /* primary-colors */
  --clr--primary-black: #000000;

  /* font-sizes */
  --fs-300: 0.5rem;

  /* sizes */
  --size--25: 0.5rem;

  /* height */
  --height--100: 35rem;
  /* shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --transition: all 0.3s linear;
  --transition-two: all 0.3s ease;
  --transition-slow: all 0.5s linear;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0 !important;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100dvh;
  overflow: auto;
  position: relative;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@keyframes animation-one {
  0% {
    left: 5rem;
  }

  25% {
    left: 3rem;
  }

  50% {
    left: 2rem;
  }

  75% {
    left: 3rem;
  }

  100% {
    left: 5rem;
  }
}

/* The element to apply the animation to */
.animation-one {
  animation-name: animation-one;
  animation-duration: 4s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animation-two {
  0% {
    bottom: 4rem;
  }

  25% {
    bottom: 2rem;
  }

  50% {
    bottom: 1rem;
  }

  75% {
    bottom: 2rem;
  }

  100% {
    bottom: 4rem;
  }
}

/* The element to apply the animation to */
.animation-two {
  animation-name: animation-two;
  animation-duration: 4s;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.Toastify__toast {
  text-transform: capitalize;
  color: black;
  width: 339px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
